<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TheIsle_DinoInjectionTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <TheIsle_DinoInjectionTool.Properties.Settings>
            <setting name="FTPAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="Port" serializeAs="String">
                <value />
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
            <setting name="Password" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectPort" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPAddress2" serializeAs="String">
                <value />
            </setting>
            <setting name="Port2" serializeAs="String">
                <value />
            </setting>
            <setting name="Username2" serializeAs="String">
                <value />
            </setting>
            <setting name="Password2" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe2" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectPort2" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPAddress3" serializeAs="String">
                <value />
            </setting>
            <setting name="Port3" serializeAs="String">
                <value />
            </setting>
            <setting name="Password3" serializeAs="String">
                <value />
            </setting>
            <setting name="Username3" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe3" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectPort3" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPAddress4" serializeAs="String">
                <value />
            </setting>
            <setting name="Port4" serializeAs="String">
                <value />
            </setting>
            <setting name="Username4" serializeAs="String">
                <value />
            </setting>
            <setting name="Password4" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe4" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectPort4" serializeAs="String">
                <value />
            </setting>
            <setting name="FTPAddress5" serializeAs="String">
                <value />
            </setting>
            <setting name="Port5" serializeAs="String">
                <value />
            </setting>
            <setting name="Username5" serializeAs="String">
                <value />
            </setting>
            <setting name="Password5" serializeAs="String">
                <value />
            </setting>
            <setting name="RememberMe5" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ConnectPort5" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType1" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType2" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType3" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType4" serializeAs="String">
                <value />
            </setting>
            <setting name="ServerType5" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomServer1" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomServer2" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomServer3" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomServer4" serializeAs="String">
                <value />
            </setting>
            <setting name="CustomServer5" serializeAs="String">
                <value />
            </setting>
        </TheIsle_DinoInjectionTool.Properties.Settings>
    </userSettings>
</configuration>